{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home page{% endblock %}
{% block content %}
<section class="hero">
  {% if not search %}
  <div class="hero-body">
    <div class="block">
      <div class="has-text-centered title is-2">
      	<h1 class="title is-size-1">Top rated movies</h1>
      </div>
      <div class="block">
        <div class="columns">
          <!-- Starts -->
          {% for movie_metadata in top_rated %}
          <div class="column is-2"  style="cursor: pointer;" onclick="window.location='{% url 'watch_video' movie_metadata.movie.id %}';">
            <div class="card">
              <div class="card-image">
                <figure class="image is-3by5">
                  <a><img src="{{ movie_metadata.movie.image.url }}" alt="Placeholder image"></a>
                </figure>

              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <a class="title is-2">
                      {{ movie_metadata.movie.title }}
                    </a>
                  </div>
                </div>
                <div class="subtitle">
                  {{ movie_metadata.movie.description }}
                </div>
                <div class="has-text-centered">
                  <p><a class="button is-primary is-outlined">
                    <img src="https://cdn2.iconfinder.com/data/icons/picol-vector/32/view-512.png" width="15" alt="A"> <medium>{{ movie_metadata.views_counter }}</medium>
                  </a>
                  <a class="button is-warning is-outlined"> <img src="{% static 'nuitch_site/video_page/star.png' %}" width="15" height="10" alt="Placeholder image"><medium>{{ movie_metadata.rating }}</medium></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- Ends -->
        </div>
      </div>
    </div>
    </div>

    <div class="hero-body">
      <div class="block">
	<div class="has-text-centered title is-2">
      	  <h1 class="title is-size-1">Most viewed</h1>
	</div>
	<div class="block">
          <div class="columns">
            <!-- Starts -->
            {% for movie_metadata in top_views %}
            <div class="column is-2"  style="cursor: pointer;" onclick="window.location='{% url 'watch_video' movie_metadata.movie.id %}';">
              <div class="card">
		<div class="card-image">
                  <figure class="image is-3by5">
                    <a><img src="{{ movie_metadata.movie.image.url }}" alt="Placeholder image"></a>
                  </figure>

		</div>
		<div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <a class="title is-2">
			{{ movie_metadata.movie.title }}
                      </a>
                    </div>
                  </div>
                  <div class="subtitle">
                    {{ movie_metadata.movie.description }}
                  </div>
                  <div class="has-text-centered">
                    <p><a class="button is-primary is-outlined">
                      <img src="https://cdn2.iconfinder.com/data/icons/picol-vector/32/view-512.png" width="15" alt="A"> <medium>{{ movie_metadata.views_counter }}</medium>
                    </a>
                    <a class="button is-warning is-outlined"> <img src="{% static 'nuitch_site/video_page/star.png' %}" width="15" height="10" alt="Placeholder image"><medium>{{ movie_metadata.rating }}</medium></a>
                  </div>
		</div>
              </div>
            </div>
            {% endfor %}
            <!-- Ends -->
          </div>
	</div>
      </div>
    </div>
    {% endif %}

      <div class="hero-body">
	<div class="block">
	  <div class="has-text-centered title is-2">
	    {% if search %}
      	       <h1 class="title is-size-1">Search results</h1>
	    {% else %}
      	       <h1 class="title is-size-1">All movies</h1>
	    {% endif %}
	  </div>
	  <div class="block">
            <div class="columns">
              <!-- Starts -->
              {% for movie_metadata in movies %}
              <div class="column is-2"  style="cursor: pointer;" onclick="window.location='{% url 'watch_video' movie_metadata.movie.id %}';">
		<div class="card">
		  <div class="card-image">
                    <figure class="image is-3by5">
                      <a><img src="{{ movie_metadata.movie.image.url }}" alt="Placeholder image"></a>
                    </figure>

		  </div>
		  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
			<a class="title is-2">
			  {{ movie_metadata.movie.title }}
			</a>
                      </div>
                    </div>
                    <div class="subtitle">
                      {{ movie_metadata.movie.description }}
                    </div>
                    <div class="has-text-centered">
                      <p><a class="button is-primary is-outlined">
			<img src="https://cdn2.iconfinder.com/data/icons/picol-vector/32/view-512.png" width="15" alt="A"> <medium>{{ movie_metadata.views_counter }}</medium>
                      </a>
                      <a class="button is-warning is-outlined"> <img src="{% static 'nuitch_site/video_page/star.png' %}" width="15" height="10" alt="Placeholder image"><medium>{{ movie_metadata.rating }}</medium></a>
                    </div>
		  </div>
		</div>
              </div>
              {% endfor %}
              <!-- Ends -->
            </div>
	  </div>
	</div>
      </div>
    </div>

</section>



<script>
 $(document).ready(function () {
   var owl = $('.owl-carousel');
   owl.owlCarousel({
     margin: 10,
     navSpeed: 700,
     loop: true,
     responsive: {
       0: {
         items: 1
       },
       600: {
         items: 3
       },
       1000: {
         items: 5
       }
     }
   });
   $('.owl-stage').addClass('wraper')
 });

 //For key movement
 $(document.documentElement).keyup(function (event) {
   if (event.keyCode == 37) {
     /*left key*/
     $('.owl-carousel').trigger('prev.owl.carousel', [700]);
   } else if (event.keyCode == 39) {
     /*right key*/
     $('.owl-carousel').trigger('next.owl.carousel', [700]);
   }
 });
</script>
{% endblock %}
