{% extends 'base.html' %}
{% block title %}
Sign UP!
{% endblock %}

{% block content %}
<br/><br/>
<div class="container">
  <div class="notification">
    {% if request.user.is_authenticated %}
    <h3>User: {{ request.user }}</h3>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <h3 class= "title is-size3">{{ message }}</h3>
    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <br> <br>
      <button type="submit" class="button is-primary">Login</button>
      <button type="reset" class="button">Cancel</button>
    </form>
    <p>Signup <a href="{% url 'signup' %}">here</a>!</p>
    {% endif %}
  </div>
</div>
{% endblock %}
