{% extends 'base.html' %}
{% block title %}
Sign UP!
{% endblock %}

{% block content %}
<br/><br/>
<div class="container">
  <div class="notification">
    <h3 class= "title is-size3">Sign Up!</h3>
    {% if request.user.is_authenticated %}
    <p>You need to <a href="{% url 'logout' %}">logout</a> or go to <a href="{% url 'home_page' %}">home</p>
    {% else %}
      <h3>{{ message }}</h3>
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <br> <br>
        <button type="submit" class="button is-primary">Signup</button>
        <button type="reset" class="button">Cancel</button>
      </form>
      <p>Login <a href="{% url 'login' %}">here</a>!</p>
    {% endif %}
{% endblock %}
