{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Watch{% endblock %}

{% block content %}
<!-- Middle Section-->
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="block">
        <!-- Starts Bloque Superior de Contenido-->
        <div class="block">
          <!-- Start Of Video Zone-->
          <div class="columns">
            <div class="column">
	      <video id="video" width="1080" height="720" controls></video>
            </div>
	    <div class="column is-4">
              <p class="message-header">Movies you might be interested in:</p>
              <label class="label"> </label>
	      {% for related_movie in related %}
	      <article class="media">
		<figure class="media-left">
                  <p class="image is-64x64">
                    <img src="{{ related_movie.image.url }}">
                  </p>
		</figure>
		<div class="media-content">
                  <div class="field">
                    <div class="control">
                      <div class="media">
			<div class="media-content">
			<a href="{% url 'watch_video' related_movie.id %}">
                          <p class="title is-3"> {{ related_movie.title }} </p>
			</a>
			</div>
                      </div>
                      <div class="content is-small">
			{{ related_movie.description }}
                      </div>
                    </div>
                  </div>
		</div>
              </article>
	      {% endfor %}
            </div>
          </div>
          <!-- End of video zone-->
          <!-- Side Content-->
	  <div>
            <div class="title is-3 has-text-left"> {{ movie.title }} </div>
            <div class="title is-4"><p>{{ movie.description }}</p></div>
            <div class="title is-4 has-text-right">
	      <figure>
                RATE: <span id="stars" style="margin-right:16px;"></span>
		{% if is_favorite %}
		<button is_favorite class="button is-info is-outlined" onclick="onFavoriteClick(this)">
		  <span>Unfavorite</span>
		  {% else %}
		  <button class="button is-info is-outlined" onclick="onFavoriteClick(this)">
		    <span>Favorite</span>
		    {% endif %}
		    <img src="{% static 'nuitch_site/video_page/heart.png'%}" width="15" height="10" alt="">
		  </button>
	      </figure>
            </div>
          </div>
	</div>


	<p class="message-header">Review</p>
        <label class="label">  </label>
        <article class="media">
          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea class="textarea" placeholder="Add a comment..." id="review">{{user_review.text}}</textarea>
              </p>
            </div>
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <button class="button is-info is-outlined" onclick="onSaveReview(this)">Submit</button>
                </div>
              </div>
            </nav>
          </div>
        </article>

	<div id="reviews">
        </div>

      </div>
    </div>
  </div>
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/shaka-player/2.5.6/shaka-player.compiled.js"></script>
<script type="text/javascript">
 var manifestUri = "{{ movie.video_file.url }}";

 function initApp() {
   // Install built-in polyfills to patch browser incompatibilities.
   shaka.polyfill.installAll();

   // Check to see if the browser supports the basic APIs Shaka needs.
   if (shaka.Player.isBrowserSupported()) {
     // Everything looks good!
     initPlayer();
   } else {
     // This browser does not have the minimum set of APIs we need.
     console.error("Browser not supported!");
   }
 }

 function initPlayer() {
   // Create a Player instance.
   var video = document.getElementById("video");
   var player = new shaka.Player(video);

   // Attach player to the window to make it easy to access in the JS console.
   window.player = player;

   // Listen for error events.
   player.addEventListener("error", onErrorEvent);

   // Try to load a manifest.
   // This is an asynchronous process.
   player
     .load(manifestUri)
     .then(function() {
       // This runs if the asynchronous load is successful.
       console.log("The video has now been loaded!");
       var end = player.seekRange().end;
       if ({{ history.seconds }} < end) {
         player.a.currentTime = {{ history.seconds }};
       }
     })
     .catch(onError); // onError is executed if the asynchronous load fails.
 }

 function onErrorEvent(event) {
   // Extract the shaka.util.Error object from the event.
   onError(event.detail);
 }

 function finishApp(event) {
   event.preventDefault();
   var player = window.player;
   var seconds = player.a.currentTime;
   var url = "{% url 'history_update' %}";
   var parameters = {
     method: "POST",
     headers: new Headers({
       "Content-Type": "application/json",
       "Authorization": "Token {{ token }}"
     }),
     body: JSON.stringify({ "id_history": {{ history.id }}, "seconds": seconds })
   };
   fetch(url, parameters);
 }

 function onError(error) {
   // Log the error.
   console.error("Error code", error.code, "object", error);
 }

 document.addEventListener("DOMContentLoaded", initApp);
 window.addEventListener("beforeunload", finishApp);
</script>
<script type="text/javascript">
 function onFavoriteClick(button) {
   var favoriteUrl = "{% url 'favorite_add' %}";
   var unfavoriteUrl = "{% url 'favorite_delete' %}";
   var parameters = {
     method: "POST",
     headers: new Headers({
       "Content-Type": "application/json",
       "Authorization": "Token {{ token }}"
     }),
     body: JSON.stringify({ "id_user": "{{ user.id }}", "id_movie": "{{ movie.id }}" })
   };
   if (button.hasAttribute("is_favorite")) {
     fetch(unfavoriteUrl, parameters).then(function(response) {
       if (response.status == 200) {
       	 button.children[0].innerHTML = "Favorite";
         button.removeAttribute("is_favorite");
       }
     });
   } else {
     fetch(favoriteUrl, parameters).then(function(response) {
       if (response.status == 200) {
       	 button.children[0].innerHTML = "Unfavorite";
         button.setAttribute("is_favorite", "");
       }
     });
   }
 }

 var reviewTextArea = document.getElementById("review");
 var reviewsDiv = document.getElementById("reviews");
 function onSaveReview(button) {
   var url = "{% url 'review_update' %}";
   var parameters = {
     method: "POST",
     headers: new Headers({
       "Content-Type": "application/json",
       "Authorization": "Token {{ token }}"
     }),
     body: JSON.stringify({ "id_user": "{{ user.id }}", "id_movie": "{{ movie.id }}", "text": reviewTextArea.value })
   };
   fetch(url, parameters).then(function(response) {
     if (response.status == 200) {
       onUpdateReviews();
     }
   });
 }
 function onUpdateReviews() {
   var url = "{% url 'review_list' %}?id_movie={{ movie.id }}";
   var parameters = {
     method: "GET",
     headers: new Headers({
       "Content-Type": "application/json",
       "Authorization": "Token {{ token }}"
     })
   };
   fetch(url, parameters).then(function(response) {
     if (response.status == 200) {
       return response.json();
     }
   }).then(function(reviews) {
     var reviewList = "";
     for (var review of reviews) {
       reviewList += '<article class="media"><div class="media-content"><div class="content"><p>';
       reviewList += '<strong>' + review.user.name + ' ' + review.user.last_name + '</strong> ';
       reviewList += '<small>' + review.user.username + '</small> ';
       reviewList += '<small>' + review.updated_at + '</small> ';
       reviewList += '<br/>';
       reviewList += review.text;
       reviewList += '<p/></div></div>';
       if (review.user.id == {{ user.id }}) {
	 reviewList += '<div class="media-right"><button onclick="onDeleteReview(';
	 reviewList += review.id;
	 reviewList += ')" class="delete"></button></div>';
       }
       reviewList += '</article>';
     }
     reviewsDiv.innerHTML = reviewList;
   });
 }
 function onDeleteReview(id_review) {
   var url = "{% url 'review_delete' %}";
   var parameters = {
     method: "POST",
     headers: new Headers({
       "Content-Type": "application/json",
       "Authorization": "Token {{ token }}"
     }),
     body: JSON.stringify({ "id_review": id_review })
   };
   fetch(url, parameters).then(function(response) {
     if (response.status == 200) {
       reviewTextArea.value = "";
       onUpdateReviews();
     }
   });
 }

 var starsDiv = document.getElementById("stars");
 function onStar(i) {
   var url = "{% url 'rate_update' %}";
   var parameters = {
     method: "POST",
     headers: new Headers({
       "Content-Type": "application/json",
       "Authorization": "Token {{ token }}"
     }),
     body: JSON.stringify({ "id_user": "{{ user.id }}", "id_movie": "{{ movie.id }}", "rate": i })
   };
   fetch(url, parameters).then(function(response) {
     if (response.status == 200) {
       onUpdateStars();
     }
   });
 }
 function onUpdateStars() {
   var imageUrl = "{% static 'nuitch_site/video_page/star.png' %}";
   var url = "{% url 'rate_list' %}?id_movie={{ movie.id }}&id_user={{ user.id }}";
   var parameters = {
     method: "GET",
     headers: new Headers({
       "Content-Type": "application/json",
       "Authorization": "Token {{ token }}"
     })
   };
   fetch(url, parameters).then(function(response) {
     if (response.status == 200) {
       return response.json();
     }
   }).then(function(rates) {
     var starList = "";
     for (var i = 0; i < 5; i++) {
       starList += '<a onclick="onStar(';
       starList += i + 1;
       starList += ')" ';
       if (rates.rating < i + 1) {
	 starList += "style='filter: grayscale(1)'";
       }
       starList += '>';
       starList += '<img src="';
       starList += imageUrl;
       starList +='" width="25" height="10" alt=""></a>';
     }
     starsDiv.innerHTML = starList;
   });
 }

 document.addEventListener("DOMContentLoaded", onUpdateReviews);
 document.addEventListener("DOMContentLoaded", onUpdateStars);
</script>

{% endblock %}
