{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <div class="block">
            <!-- Navbar Start -->
            <nav class="nav">
              <a class="navbar-item" href="">
              <img src="{% static 'nuitch_site/logo-nuitch.png' %}" width="60" height="10" alt="">
              </a>
              <!-- Left -->
            <div class="nav-left">
              <a class="nav-item" disabled="true">|</a>
              <a href="#" class="nav-item">Home</a>
              <a class="nav-item" disabled="true">|</a>
              <a href="#" class="nav-item">Profile</a>
              <a class="nav-item" disabled="true">|</a>
              <a href="#" class="nav-item">Favorites</a>
              <a class="nav-item" disabled="true">|</a>
              <a href="#" class="nav-item">History</a>
              <a class="nav-item" disabled="true">|</a>
              <a href="#" class="nav-item">Search</a>
              <a class="nav-item" disabled="true">|</a>
            </div>
            <!-- Center -->
            <div class="nav-center nav-menu">
              <!-- Search Bar-->
              <div class="block">

              </div>
              <!-- END Search Bar-->
            </div>
            <!-- Right -->
            <div class="nav-right">
              <a class="nav-item" disabled="true">|</a>
              <p class="control">
                <input type="text" class="input nav-item" placeholder="Enter Keywords...">
              </p>
              <p class="control">
                <a href="" class="nav-item">Search </a>
              </p>

              <a class="nav-item" disabled="true">|</a>

              <!-- User Logged in message -->
              {% if user.is_authenticated %}
                <a href="" class="nav-item title is-4">Welcome, {{ user.username }}!</a>
                <!-- falta agregar boton de logout -->
              {% else %}
                <a href="{% url 'login' %}" class="nav-item">Login</a>
                <a class="nav-item" disabled="true">|</a>
                <a href="{% url 'signup' %}" class="nav-item">SignUp</a>
              {% endif %}
              <a class="nav-item" disabled="true">|</a>
              <a href="https://gitlab.com/PaperMonoid/nuitch" class="nav-item">
                <span class="icon">
                  <i class="fa fa-gitlab"></i>
                </span>
              </a>
              <a class="nav-item" disabled="true">|</a>
            </div>
            </nav>
            <!-- End of Navbar-->
          </div>
        </div>
      </div>
    </section>
    {% block content %}
    {% endblock%}
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <div class="block">
            <article class="message">
              <div class="message-header">
                <p>About Us</p>
              </div>
              <div class="message-body">
                Nuitch is a Movie Streaming Platform dedicated to bring you the best experience in the internet.
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
