<<<<<<< HEAD
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Stylesheets -->
      <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,300italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{% static 'owl/docs.theme.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
      <link rel="stylesheet" href="{% static 'css/animate.css' %}">
      <link rel="stylesheet" href="{% static 'css/buefy.min.css' %}">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <!-- Owl Stylesheets -->
      <link rel="stylesheet" href="{% static 'owl/owl.carousel.min.css'%}">
      <link rel="stylesheet" href="{% static 'owl/owl.theme.default.min.css'%}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>



      <title>{% block title%}

    {% endblock %}</title>
  </head>
  <body>
    {% include 'nav.html' %}
    {% block content%}


    {% endblock %}

=======
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <div class="block">
            <!-- Navbar Start -->
            <nav class="nav">
              <a class="navbar-item" href="">
              <img src="{% static 'nuitch_site/logo-nuitch.png' %}" width="60" height="10" alt="">
              </a>
              <!-- Left -->
            <div class="nav-left">
              <a class="nav-item" disabled="true">|</a>
              <a href="#" class="nav-item">Home</a>
              <a class="nav-item" disabled="true">|</a>
              <a href="#" class="nav-item">Profile</a>
              <a class="nav-item" disabled="true">|</a>
              <a href="#" class="nav-item">Favorites</a>
              <a class="nav-item" disabled="true">|</a>
              <a href="#" class="nav-item">History</a>
              <a class="nav-item" disabled="true">|</a>
              <a href="#" class="nav-item">Search</a>
              <a class="nav-item" disabled="true">|</a>
            </div>
            <!-- Center -->
            <div class="nav-center nav-menu">
              <!-- Search Bar-->
              <div class="block">

              </div>
              <!-- END Search Bar-->
            </div>
            <!-- Right -->
            <div class="nav-right">
              <a class="nav-item" disabled="true">|</a>
              <p class="control">
                <input type="text" class="input nav-item" placeholder="Enter Keywords...">
              </p>
              <p class="control">
                <a href="" class="nav-item">Search </a>
              </p>

              <a class="nav-item" disabled="true">|</a>

              <!-- User Logged in message -->
              {% if user.is_authenticated %}
                <a href="" class="nav-item title is-4">Welcome, {{ user.username }}!</a>
                <!-- falta agregar boton de logout -->
              {% else %}
                <a href="{% url 'login' %}" class="nav-item">Login</a>
                <a class="nav-item" disabled="true">|</a>
                <a href="{% url 'signup' %}" class="nav-item">SignUp</a>
              {% endif %}
              <a class="nav-item" disabled="true">|</a>
              <a href="https://gitlab.com/PaperMonoid/nuitch" class="nav-item">
                <span class="icon">
                  <i class="fa fa-gitlab"></i>
                </span>
              </a>
              <a class="nav-item" disabled="true">|</a>
            </div>
            </nav>
            <!-- End of Navbar-->
          </div>
        </div>
      </div>
    </section>
    {% block content %}
    {% endblock%}
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <div class="block">
            <article class="message">
              <div class="message-header">
                <p>About Us</p>
              </div>
              <div class="message-body">
                Nuitch is a Movie Streaming Platform dedicated to bring you the best experience in the internet.
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
>>>>>>> video-page
  </body>
</html>
