{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Stylesheets -->
      <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,300italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{% static 'owl/docs.theme.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
      <link rel="stylesheet" href="{% static 'css/animate.css' %}">
      <link rel="stylesheet" href="{% static 'css/buefy.min.css' %}">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <!-- Owl Stylesheets -->
      <link rel="stylesheet" href="{% static 'owl/owl.carousel.min.css'%}">
      <link rel="stylesheet" href="{% static 'owl/owl.theme.default.min.css'%}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>



      <title>{% block title%}

    {% endblock %}</title>
  </head>
  <body>
    {% include 'nav.html' %}
    {% block content%}


    {% endblock %}

  </body>
</html>
