{% load staticfiles %}
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{% static 'img/brand_name.png' %}" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-end">
  <form method="POST" action="{% url 'home_page' %}">
  {% csrf_token %}
    <div class="navbar-item">
      <div class="field has-addons">
        <div class="control has-icons-left">
          <input name="search" type="text" class="input is-info" placeholder="Search for Movies">
        </div>
        <div class="control">
          <button type="submit" class="button is-link is-inverted is-outlined"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    </form>
  </div>

  <div class="navbar-item">
  {% if not user.is_authenticated %}
    <div class="buttons">
      <a class="button is-primary" href="{% url 'signup' %}" >
        <strong>Sign up</strong>
      </a>
      <a class="button" href="{% url 'login' %}">
        Log in
      </a>
    </div>
  {% else %}
    <div class="buttons">
      <a class="button is-primary" href="{% url 'user_panel' %}">
        Profile
      </a>
      <a class="button is-primary" href="{% url 'user_favorite' %}">
        Favorites
      </a>
      <a class="button is-primary" href="{% url 'user_history' %}">
        History
      </a>
      <a class="button is-danger" href="{% url 'logout' %}">
        Logout
      </a>
    </div>
  {% endif %}
  </div>

</nav>
