{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
History
{% endblock %}

{% block content %}
<br/>
<br/>
<div class="container">
  <article class="message">
    <div class="message-header">
      Your Watched Movies.
    </div>
    <div class="message-body">
      <div class="columns has-text-centered">
	{% for history_movie in history %}
        <div class="column is-2">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by5">
                <a><img src="{{ history_movie.movie.image.url }}"  alt="Placeholder image"></a>
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-4">
                <a>{{ history_movie.movie.title }}</a>
              </p>
              <div class="title is-6">
                {{ history_movie.movie.description }}
              </div>
              <button onclick="deleteMovie(this)" id="{{ history_movie.id }}" class="button is-danger is-outlined"> <span>Delete</span> </button>
            </div>
          </div>
        </div>
	{% endfor %}
      </div>
    </div>
  </article>
</div>
<script type="text/javascript">
 function deleteMovie(button) {
   var element = button.parentNode.parentNode.parentNode;
   var parent = element.parentNode;
   var url = "/user/history/delete/" + button.id;
   var parameters = {
     method: "POST",
     headers: new Headers({
       Authorization: "Token {{ token }}"
     })
   };
   fetch(url, parameters).then(function(response) {
     if (response.status == 200) {
       parent.removeChild(element);
     }
   });
 }
</script>
{% endblock %}