{% extends 'base.html' %}
{% block title %}
User panel
{% endblock %}

{% block content %}
<br/> <br/>
<div class="container">
  <div class="notification">
    {% if message %}
    <h3 class= "title is-size3">{{ message }}</h3>
    {% endif %}
    <h3 class= "title is-size3">User panel</h3>
    <form method="POST">
      {% csrf_token %}
      <input name="name" value="{{details.name}}" placeholder="Name" />
      <input
        name="last_name"
        value="{{details.last_name}}"
        placeholder="Last name"
      />
      <input name="address" value="{{details.address}}" placeholder="Address" />
      <input name="phone" value="{{details.phone}}" placeholder="Phone" />
      <br> <br>
      <button type="submit" class="button is-primary">Save</button>
    </form>
    <form method="POST" action="{% url 'user_delete' %}">
      {% csrf_token %}
      <button type="submit" class="button is-danger">Delete</button>
    </form>
  </div>
</div>
{% endblock %}
